# Introduction

FIFA, also known as FIFA Football or FIFA Soccer, is a series of association football video games or football simulator, released annually by Electronic Arts under the EA Sports label.

In [1]:
import os
import time
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
directory = os.getcwd()

In [3]:
os.chdir(directory + '//data')

In [4]:
attribute = pd.read_csv('PlayerAttributeData.csv', low_memory=False)
personal = pd.read_csv('PlayerPersonalData.csv', low_memory=False)
position = pd.read_csv('PlayerPlayingPositionData.csv', low_memory=False)
complete_data = pd.read_csv("CompleteDataset.csv", low_memory=False)

**Make a copy of the data frame**

In [5]:
attribute_df = attribute.copy()
personal_df = personal.copy()
position_df = position.copy()
complete_data_df = complete_data.copy()

### Assess

In [6]:
attribute_df.head()

,Unnamed: 0,Acceleration,Aggression,Agility,Balance,Ball control,Composure,Crossing,Curve,Dribbling,...,Reactions,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys
0,0,89,63,89,63,93,95,85,81,91,...,96,83,94,23,91,92,31,80,85,88
1,1,92,48,90,95,95,96,77,89,97,...,95,88,85,26,87,73,28,59,90,85
2,2,94,56,96,82,95,92,75,81,96,...,88,81,80,33,90,78,24,53,80,83
3,3,88,78,86,60,91,83,77,86,86,...,93,83,87,38,77,89,45,80,84,88
4,4,58,29,52,35,48,70,15,14,30,...,85,55,25,11,61,44,10,83,70,11

In [7]:
personal_df.head()

,Unnamed: 0,Unnamed: 0.1,ID,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,Value,Wage,Special
0,0,0,20801,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,€95.5M,€565K,2228
1,1,1,158023,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€105M,€565K,2154
2,2,2,190871,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,€123M,€280K,2100
3,3,3,176580,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,€97M,€510K,2291
4,4,4,167495,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,€61M,€230K,1493

In [8]:
position_df.head()

,Unnamed: 0,CAM,CB,CDM,CF,CM,ID,LAM,LB,LCB,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,89.0,53.0,62.0,91.0,82.0,20801,89.0,61.0,53.0,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,92.0,45.0,59.0,92.0,84.0,158023,92.0,57.0,45.0,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,88.0,46.0,59.0,88.0,79.0,190871,88.0,59.0,46.0,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,87.0,58.0,65.0,88.0,80.0,176580,87.0,64.0,58.0,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,NaN,NaN,NaN,NaN,NaN,167495,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
complete_data_df.head()

,Unnamed: 0,Name,Age,Photo,Nationality,Flag,Overall,Potential,Club,Club Logo,...,RB,RCB,RCM,RDM,RF,RM,RS,RW,RWB,ST
0,0,Cristiano Ronaldo,32,https://cdn.sofifa.org/48/18/players/20801.png,Portugal,https://cdn.sofifa.org/flags/38.png,94,94,Real Madrid CF,https://cdn.sofifa.org/24/18/teams/243.png,...,61.0,53.0,82.0,62.0,91.0,89.0,92.0,91.0,66.0,92.0
1,1,L. Messi,30,https://cdn.sofifa.org/48/18/players/158023.png,Argentina,https://cdn.sofifa.org/flags/52.png,93,93,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,57.0,45.0,84.0,59.0,92.0,90.0,88.0,91.0,62.0,88.0
2,2,Neymar,25,https://cdn.sofifa.org/48/18/players/190871.png,Brazil,https://cdn.sofifa.org/flags/54.png,92,94,Paris Saint-Germain,https://cdn.sofifa.org/24/18/teams/73.png,...,59.0,46.0,79.0,59.0,88.0,87.0,84.0,89.0,64.0,84.0
3,3,L. Suárez,30,https://cdn.sofifa.org/48/18/players/176580.png,Uruguay,https://cdn.sofifa.org/flags/60.png,92,92,FC Barcelona,https://cdn.sofifa.org/24/18/teams/241.png,...,64.0,58.0,80.0,65.0,88.0,85.0,88.0,87.0,68.0,88.0
4,4,M. Neuer,31,https://cdn.sofifa.org/48/18/players/167495.png,Germany,https://cdn.sofifa.org/flags/21.png,92,92,FC Bayern Munich,https://cdn.sofifa.org/24/18/teams/21.png,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

**Quality**

##### `attribute_df` table
- Remove unmaned column
- Numeric data types are string
- ID should be sting not integer

##### `personal_df` table
- Remove unmaned column
- Numeric data type are string
- ID should be sting not integer

##### `position_df` table
- Remove unmaned column
- Numeric data type are string
- ID should be sting not integer

##### `complete_data_df` table
- Remove unmaned column
- Numeric data type are string
- ID should be sting not integer

**Tidiness**

In [10]:
attribute_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17981 entries, 0 to 17980
Data columns (total 36 columns):
Unnamed: 0            17981 non-null int64
Acceleration          17981 non-null object
Aggression            17981 non-null object
Agility               17981 non-null object
Balance               17981 non-null object
Ball control          17981 non-null object
Composure             17981 non-null object
Crossing              17981 non-null object
Curve                 17981 non-null object
Dribbling             17981 non-null object
Finishing             17981 non-null object
Free kick accuracy    17981 non-null object
GK diving             17981 non-null object
GK handling           17981 non-null object
GK kicking            17981 non-null object
GK positioning        17981 non-null object
GK reflexes           17981 non-null object
Heading accuracy      17981 non-null object
ID                    17981 non-null int64
Interceptions         17981 non-null object
Jumping               17981 non-null object
Long passing          17981 non-null object
Long shots            17981 non-null object
Marking               17981 non-null object
Penalties             17981 non-null object
Positioning           17981 non-null object
Reactions             17981 non-null object
Short passing         17981 non-null object
Shot power            17981 non-null object
Sliding tackle        17981 non-null object
Sprint speed          17981 non-null object
Stamina               17981 non-null object
Standing tackle       17981 non-null object
Strength              17981 non-null object
Vision                17981 non-null object
Volleys               17981 non-null object
dtypes: int64(2), object(34)
memory usage: 4.9+ MB

In [11]:
personal_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17981 entries, 0 to 17980
Data columns (total 15 columns):
Unnamed: 0      17981 non-null int64
Unnamed: 0.1    17981 non-null int64
ID              17981 non-null int64
Name            17981 non-null object
Age             17981 non-null int64
Photo           17981 non-null object
Nationality     17981 non-null object
Flag            17981 non-null object
Overall         17981 non-null int64
Potential       17981 non-null int64
Club            17733 non-null object
Club Logo       17981 non-null object
Value           17981 non-null object
Wage            17981 non-null object
Special         17981 non-null int64
dtypes: int64(7), object(8)
memory usage: 2.1+ MB

In [12]:
position_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17981 entries, 0 to 17980
Data columns (total 29 columns):
Unnamed: 0             17981 non-null int64
CAM                    15952 non-null float64
CB                     15952 non-null float64
CDM                    15952 non-null float64
CF                     15952 non-null float64
CM                     15952 non-null float64
ID                     17981 non-null int64
LAM                    15952 non-null float64
LB                     15952 non-null float64
LCB                    15952 non-null float64
LCM                    15952 non-null float64
LDM                    15952 non-null float64
LF                     15952 non-null float64
LM                     15952 non-null float64
LS                     15952 non-null float64
LW                     15952 non-null float64
LWB                    15952 non-null float64
Preferred Positions    17981 non-null object
RAM                    15952 non-null float64
RB                     15952 non-null float64
RCB                    15952 non-null float64
RCM                    15952 non-null float64
RDM                    15952 non-null float64
RF                     15952 non-null float64
RM                     15952 non-null float64
RS                     15952 non-null float64
RW                     15952 non-null float64
RWB                    15952 non-null float64
ST                     15952 non-null float64
dtypes: float64(26), int64(2), object(1)
memory usage: 4.0+ MB

In [13]:
complete_data_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17981 entries, 0 to 17980
Data columns (total 75 columns):
Unnamed: 0             17981 non-null int64
Name                   17981 non-null object
Age                    17981 non-null int64
Photo                  17981 non-null object
Nationality            17981 non-null object
Flag                   17981 non-null object
Overall                17981 non-null int64
Potential              17981 non-null int64
Club                   17733 non-null object
Club Logo              17981 non-null object
Value                  17981 non-null object
Wage                   17981 non-null object
Special                17981 non-null int64
Acceleration           17981 non-null object
Aggression             17981 non-null object
Agility                17981 non-null object
Balance                17981 non-null object
Ball control           17981 non-null object
Composure              17981 non-null object
Crossing               17981 non-null object
Curve                  17981 non-null object
Dribbling              17981 non-null object
Finishing              17981 non-null object
Free kick accuracy     17981 non-null object
GK diving              17981 non-null object
GK handling            17981 non-null object
GK kicking             17981 non-null object
GK positioning         17981 non-null object
GK reflexes            17981 non-null object
Heading accuracy       17981 non-null object
Interceptions          17981 non-null object
Jumping                17981 non-null object
Long passing           17981 non-null object
Long shots             17981 non-null object
Marking                17981 non-null object
Penalties              17981 non-null object
Positioning            17981 non-null object
Reactions              17981 non-null object
Short passing          17981 non-null object
Shot power             17981 non-null object
Sliding tackle         17981 non-null object
Sprint speed           17981 non-null object
Stamina                17981 non-null object
Standing tackle        17981 non-null object
Strength               17981 non-null object
Vision                 17981 non-null object
Volleys                17981 non-null object
CAM                    15952 non-null float64
CB                     15952 non-null float64
CDM                    15952 non-null float64
CF                     15952 non-null float64
CM                     15952 non-null float64
ID                     17981 non-null int64
LAM                    15952 non-null float64
LB                     15952 non-null float64
LCB                    15952 non-null float64
LCM                    15952 non-null float64
LDM                    15952 non-null float64
LF                     15952 non-null float64
LM                     15952 non-null float64
LS                     15952 non-null float64
LW                     15952 non-null float64
LWB                    15952 non-null float64
Preferred Positions    17981 non-null object
RAM                    15952 non-null float64
RB                     15952 non-null float64
RCB                    15952 non-null float64
RCM                    15952 non-null float64
RDM                    15952 non-null float64
RF                     15952 non-null float64
RM                     15952 non-null float64
RS                     15952 non-null float64
RW                     15952 non-null float64
RWB                    15952 non-null float64
ST                     15952 non-null float64
dtypes: float64(26), int64(6), object(43)
memory usage: 10.3+ MB